
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 20px;
  position: fixed; /* Fixed at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensures it appears above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}

.toggle-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.dashboard-heading {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
  font-size: 24px;
}

.logout-btn {
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
}

.content {
  margin: 0;
  flex-grow: 1;
  padding: 20px;
  margin-top: 80px; /* Add margin to account for the height of the fixed top-section */
  transition: margin-left 0.3s ease;
}

.content-with-sidebar {
  margin-left: 250px;
}

.dashboard-section {
  padding: 20px;
}

.scrollable {
  overflow-x: auto;
}

.sidebar {
  width: 250px;
  background-color: #000;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 20px;
}

.menu-options button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  text-align: left;
}

.menu-options button:hover {
  background-color: #555;
}
